html {
    overflow-y: scroll;
}

/* ------------------------------------------------------- PÁGINA PRINCIPAL ------------------------------------------------------- */
body {
    margin: 0;

    font-family: lato;
    font-weight: normal;

    display: flex;
    flex-direction: column;

    width: 100%;
}

/* Menú */
header {
    display: flex;
    background-color: rgb(238, 53, 53);
    height: 100px;
    align-items: center;
    text-decoration: double;
}

.logo {
    width: 50px;
    margin-left: 25px;
}

.title {
    padding-left: 25px;
}

/* Submenú */
nav {
    font-weight: bold;
    display: flex;
    background-color: rgb(194, 45, 45);
    height: 30px;
    align-items: center;
}

.album {
    color: black;
    padding-left: 25px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.album:hover {
    color: rgb(255, 230, 0);
    padding-left: 25px;
    text-decoration: none;
}

main {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    background-color: #e13d2e;
    
}

/* Contexto */
.contexto {
    margin-top: 75px;
    margin-left: 100px;
}

article {
    display: flex;
    flex: 5;
    flex-direction: column;
    min-width: 0;
    color: white;
}

.exp {
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 25px;
    font-size: larger;
}

.tylerjosh {
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 100px;
    margin-bottom: 0px;

    display: block;
}

/* Trayectoria */
aside {
    width: 20%;

    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;

    background-color: rgb(46, 46, 46);
    color: white;
    
    flex: 2;
}

.discografia {
    margin-top: 50px;
    text-align: center;
}

.discexp {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 10px;
}

abbr {
    text-decoration: none;
}

ul {
    margin-bottom: 15px;
}

li {
    margin-top: 5px;
    margin-left: 35px;
}

.botones {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* Permite que bajen si la pantalla es muy muy estrecha */
}

.spoty {
    font-weight: bold;
    background-color: #1ED760;
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal del contenido */

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;  /* Asegura que el padding no aumente el ancho total */
}

.spotyimg {
    height: 25px;
    margin-right: 10px;
}

.apple {
    background-color: #FA2D48;
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;
}

.appleimg {
    height: 25px;
    margin-right: 10px;
}

.boton {
    background-color: rgb(46, 46, 46);
    text-decoration: none;
    color: rgb(255, 255, 255);

    margin-top: 50px;
    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal del contenido */

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;  /* Asegura que el padding no aumente el ancho total */

    margin-bottom: 50px;
}

.botonblurry {
    font-weight: 500;
    background-color: #ee6253;
    text-decoration: none;
    color: rgb(0, 0, 0);

    margin-top: 10px;
    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal del contenido */

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;  /* Asegura que el padding no aumente el ancho total */

    margin-bottom: 50px;
}

/* Footer */
footer {
    margin-top: 0px;
    background-color: rgb(46, 46, 46);
    
    height: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sugerencias {
    color: white;
    margin-top: 0;
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
}

form {
    font-weight: bold;
    margin-top: 0;
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: start;
}

input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.inputgrande {
    width: 500px;
    height: 100px;

    border-radius: 5px;
    border-style: none;
}

.botonform {
    background-color: #ee6253;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
}

/* ------------------------------------------------------- BLURRYFACE ------------------------------------------------------- */
/* Main */
.blurrymenu {
    display: flex;
    background-color: #ee6253;
    height: 100px;
    align-items: center;
    text-decoration: double;
}

.blurrynav {
    font-weight: bold;
    display: flex;
    background-color: #b64b40;
    height: 30px;
    align-items: center;
}

.b {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    
}

/* Atricle */
.blurry {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

/* Cover */
.bcover {
    height: auto;
    width: 450px;
    margin-top: 75px;
    border-radius: 10px;
}

.btitle{
    color: #ee6253;
    text-align: center;
}

.bsubtitle {
    color: white;
    margin-top: 0;
}

/* Article explicación */
.blurryexp {
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 400px;
}

p {
    margin-top: 10px;
}

.cuerpo {
    font-size: larger;
    gap: 20px;
    word-spacing: 2px;
}

.liblurry {
    margin-top: 15px;
    margin-left: 35px;
}

/* Bold */
.bb {
    color: #ee6253;
}

/* Imagen */
.pintura {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Tabla */
table {
    margin-top: 20px;
    margin-bottom: 50px;
}

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}

td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}

th {
	background: #f0e6cc;
}

.encabezado {
    text-decoration: double;
    color: #000000;
    background-color: #ee6253;
    text-align: center;
}

/* Video */
iframe {
    align-self: center;
    margin-bottom: 50px;
}