
body {
    margin: 0;

    font-family: lato;
    font-weight: bold;

    display: flex;
    flex-direction: column;

    width: 100%;
}

/* Menú */
header {
    display: flex;
    background-color: rgb(238, 53, 53);
    height: 100px;
    align-items: center;
    text-decoration: double;
}

.logo {
    width: 50px;
    margin-left: 25px;
}

.title {
    padding-left: 25px;
}

/* Submenú */
nav {
    display: flex;
    background-color: rgb(194, 45, 45);
    height: 30px;
    align-items: center;
}

.album {
    color: black;
    padding-left: 25px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.album:hover {
    color: rgb(255, 230, 0);
    padding-left: 25px;
    text-decoration: none;
}

main {
    display: flex;
    margin-bottom: 0;
    width: 100%;
}

/* Contexto */
.contexto {
    margin-top: 75px;
    margin-left: 100px;
}

article {
    display: flex;
    flex: 5;
    flex-direction: column;
    min-width: 0;
}

.exp {
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 25px;
    font-size: larger;
}

.tylerjosh {
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 100px;
    margin-bottom: 50px;

    display: block;
}

/* Trayectoria */
aside {
    width: 20%;

    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;

    background-color: rgb(255, 224, 224);
    
    flex: 2;
}

.discografia {
    margin-top: 50px;
    text-align: center;
}

.discexp {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 10px;
}

abbr {
    text-decoration: none;
}

ul {
    margin-bottom: 15px;
}

li {
    margin-top: 5px;
    margin-left: 35px;
}

.botones {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* Permite que bajen si la pantalla es muy muy estrecha */
}

.spoty {
    background-color: #1ED760;
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal del contenido */

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;  /* Asegura que el padding no aumente el ancho total */
}

.spotyimg {
    height: 25px;
    margin-right: 10px;
}

.apple {
    background-color: #FA2D48;
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Medidas */
    width: 200px;
    height: 40px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;
}

.appleimg {
    height: 25px;
    margin-right: 10px;
}

/* Footer */
footer {
    margin-top: 0px;
    background-color: rgb(61, 61, 61);
    
    height: auto; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sugerencias {
    color: white;
    margin-top: 0;
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
}

form {
    margin-top: 0;
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: start;
}

input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.inputgrande {
    width: 500px;
    height: 100px;

    border-radius: 5px;
    border-style: none;
}

.botonform {
    background-color: rgb(255, 224, 224);
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
}